<div class="index-wrapper">
 <div class="index-container">
  <div class="col-md-offset-8 date-container">
 
    <%= form_with(url: reservations_path, method: "get", local: true) do |f| %>
    <%= f.date_field :reserve_day %>
    <%= f.submit "検索" %>
    <% end %>
   </div>
  </div>
 </div>
  
  <div class="row">
   <div class="col-md-offset-2 col-md-8">
    <a href="/reservations/new">
     <button>予約登録画面に進む</button>
    </a>
    <div class="contents">
     <h1>予約一覧</h1>
     </div>
     <table>
      <thead>
        <tr>
         <td>予約登録日</td>
         <td>予約日時</td>
         <td>予約名</td>
         <td>電話番号</td>
         <td>人数</td>
         <td>コース名</td>
         <td>媒体</td>
         <td>席番号</td>
        </tr>
      </thead>
       <% @reservations.each do |reservation| %>
      <tbody>
         <tr>
           <td><%= reservation.sign_up_day %></td>
           <td><%= l reservation.reserve_day, format: :short %></td>
           <td><%= reservation.reserve_name %></td>
           <td><%= reservation.reserve_phone_number %></td>
           <td><%= reservation.member %></td>
           <td><%= reservation.course %></td>
           <td><%= reservation.medium %></td>
           <td><%= reservation.seat_number %></td>
           
           <td><%= link_to "reservations/#{reservation.id}/edit" do %>
           <button type="button" class="btn btn-outline-primary">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> 更新
           </button></td>
           <% end %>
           <td><%= link_to "/reservations/#{reservation.id}", method:"delete", data: { confirm: '削除しますか？'} do %>
           <button type="button" class="btn btn-outline-primary">
             <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 削除
           </button></td>
           <% end %>
          </tr>
      </tbody>
      <% end %>
     </table>
   </div>
  </div>
 </div>
</div>